.box {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#first {
  background-color: rgb(10, 158, 133);
}

#second {
  background-color: rgb(216, 112, 38);
}

button {
  background-color: rgb(67, 202, 128);
  box-shadow: 1px;
  border-color: mediumseagreen;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
}

#container {
  width: 153px;
  height: 131px;
  background-color: lightgrey;
  font-family: sans-serif;
  box-shadow: 2px 2px 5px black;
}